FASTWAM_REPO=https://github.com/yuantianyuan01/FastWAM.git
FASTWAM_COMMIT=45d8e1458921d83f8ad6cf9ce993d371208dabd0
FASTWAM_DIR=external/FastWAM

DIFFSYNTH_MODEL_BASE_PATH=checkpoints
DIFFSYNTH_DOWNLOAD_SOURCE=huggingface
DIFFSYNTH_SKIP_DOWNLOAD=false

HF_HOME=${HOME}/.cache/huggingface
HF_MAX_WORKERS=2
HF_DISABLE_XET=false
DOWNLOAD_TEXT_ENCODER=false
DOWNLOAD_FASTWAM_RELEASE=true
DOWNLOAD_LIBERO_RELEASE=true
DOWNLOAD_ROBOTWIN_RELEASE=false
