FASTWAM_REPO=https://github.com/yuantianyuan01/FastWAM.git
FASTWAM_COMMIT=45d8e1458921d83f8ad6cf9ce993d371208dabd0
FASTWAM_DIR=external/FastWAM

DIFFSYNTH_MODEL_BASE_PATH=checkpoints
DIFFSYNTH_DOWNLOAD_SOURCE=huggingface
DIFFSYNTH_SKIP_DOWNLOAD=false

HF_HOME=.hf
DOWNLOAD_TEXT_ENCODER=false
DOWNLOAD_FASTWAM_RELEASE=true
